<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="register_window">
        <div>
            <div>
                <form action="" method="post">
                    <div>
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.email.label }}
                        {{ form.email }}
                    </div>
                    <div>
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>
                    <div>
                        {{ form.repeat_password.label }}
                        {{ form.password }}
                    </div>
                    <div>
                        {{ form.sex.label }}
                        {{ form.sex }}
                    </div>
                    <div>
                        {{ form.submit.label }}
                        {{ form.submit }}
                    </div>
                    <a href="/login">Возврат на логин</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>